<template>
    <!-- Mostrar datos de cada tarea -->
    <div class="wrap-dataTarea">
        <h2 class="title-dataTarea">datos de la tarea</h2>
        <div class="container-dataTarea">
            <div class="field-dataTarea"><span>ID: </span><input type="text" :value="id" disabled /></div>
            <div class="field-dataTarea"><span>UserId: </span><input type="text" :value="userId" disabled /></div>
            <div class="field-dataTarea"><span>Title: </span><input type="text" :value="title" disabled /></div>
            <!-- Se muestra un icono de completado o no -->
            <div v-if="!completed" class="field-dataTarea">
                <span>Completed: </span>
                <i class="fas fa-times"></i>
            </div>
            <div v-else  class="field-dataTarea">
                <span>Completed:</span>
                <i class="fas fa-check"></i>
            </div>
        </div>
        <button class="btn btn-back-dataTarea" @click="volver()">Volver al listado</button>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                id: '',
                userId: '',
                title: '',
                completed: ''
            }
        },
        created() {
            // Recuperación del id de la tarea a través del enrutador o más del router-link del componente listadoTareas
            let id = this.$route.params.id
            // Petición al endpoint con el id de la tarea
            this.$http.get('https://jsonplaceholder.typicode.com/todos/' + id)
                .then(respuesta => {
                    return respuesta.json();
                }).then(respuestaJson => {
                    //Se guardan los datos de la tarea para ser mostrados en los input
                    this.id = respuestaJson.id;
                    this.userId = respuestaJson.userId;
                    this.title = respuestaJson.title;
                    this.completed = respuestaJson.completed;
                })
        },
        methods: {
            volver() {
                // Para volver al listado y no perder el flujo de la app
                this.$router.push({name: 'Inicio'});
            }
        }
    }
</script>
<style lang="sass" scoped>
    @import "../assets/common.sass"
    @import "../assets/function.sass"

    .title-dataTarea
        @include sizesFloat(null, null, none, center)
        text-transform: uppercase
    
    .container-dataTarea
        max-width: 580px
        margin: 0 auto
        @include sizesFloat(null, null, none, center)

        .field-dataTarea
            margin: 8px 0
            span
                font-weight: 600
            input
                padding: 3px 0 3px 5px
                @include borderRadius(3px)
                border: 1px solid $borderInput
                font-size: 14px

    .btn
        padding: 8px 12px
        @include borderRadius(3px)
        border: none
        margin: 0 10px 0 0
        color: $colorWhite
        font-size: 12px
        outline: 0
        cursor: pointer
        font-weight: 500

        &.btn-back-dataTarea
            display: block
            margin: 0 auto 30px
            font-size: 14px
            background-color: $btnBlue
            &:hover
                background-color: $btnBlueHover

    /**** MEDIA QUERIES ****/

    @media only screen and (max-width : 580px)
        .container-dataTarea
            text-align: center
</style>


