<template>
    <div class="wrap-taskList">
        <h1 class="title-taskList">Listado Tareas</h1>
        <div class="container-newTask">
            <button id="new_task" @click="nuevaTarea()" data-value="0" class="btn add-newTask">Nueva Tarea</button>
            <div class="fields-newTask">
                <input type="text" class="input-newTask" placeholder="Título de la nueva tarea" @keyup.enter="guardarTarea()" v-model="inputNuevaTarea" />
                <input type="text" class="input-newTask input-userId-newTask" placeholder="UserId" @keyup.enter="guardarTarea()" v-model="inputUserId">
                <button @click="guardarTarea()" class="btn btn-saveTask">Guardar Tarea</button>
            </div>
        </div>
        <!-- Listado de Tareas -->
        <listado-tareas :tareas="tareas"></listado-tareas>
    </div>
</template>
<script>
    import ListadoTareas from './listadoTareas.vue';
    export default {
        // Declaración de los componentes que se van a usar
        components: {
            ListadoTareas,
        },
        data() {
            // Declaración de las variables a usar
            return {
                tareas: [],
                inputNuevaTarea: '',
                inputUserId: '',
            }
        },
        // Cuando se crea el módulo
        created() {
            // Llamada al endpoint
            this.$http.get('https://jsonplaceholder.typicode.com/todos')
                .then(respuesta => {
                    return respuesta.json()
                }).then(respuestaJson => {
                    // Se recupera los datos del endpoint para insertarlos en un array
                    for(let i = 0; i < respuestaJson.length; i++) {
                        this.tareas.push(respuestaJson[i]);
                    }
                })
        },
        methods: {
            // Se muestra los campos ocultos para insertar una nueva tarea
            nuevaTarea() {
                let btnNewTask = document.getElementById('new_task');          
                if (btnNewTask.getAttribute("data-value") == '0') {
                    this.showFields();

                } else {
                    this.hideFields();
                }
            },
            //Se guardar la tarea comprobando antes que los campos no se encuentren vacíos
            guardarTarea() {
                if (this.inputNuevaTarea != '' && this.inputUserId != '') {
                        let newId = this.tareas.length + 1;
                        // Creación del objeto de la nueva tarea para añadirla en el array de tareas
                        let auxTarea = {
                            userId: this.inputUserId,
                            id: newId,
                            title: this.inputNuevaTarea,
                            completed: false
                        }

                        this.tareas.unshift(auxTarea);

                        this.inputNuevaTarea = "";
                        this.inputUserId = "";
                        
                        this.hideFields();

                } else {
                    // Se muestra el mensaje de error cuando alguno de los campos se encuentran vacíos
                    let fields = document.getElementsByClassName('fields-newTask');
                    
                    let msgError = "<div style='color:red'>Los campos no pueden estar vacíos</div>";
                    fields[0].insertAdjacentHTML('beforeend', msgError);
                }
            },
            // Se muestran los campos para la nueva tarea
            showFields() {
                let showFields = document.getElementsByClassName('fields-newTask')[0];
                let btnNewTask = document.getElementById('new_task');


                let pos = 0;
                let maxH = 80
                if (window.innerWidth <= 580) {
                    maxH = 120;
                }
                let valueIncrease = setInterval(increase, 5);
                showFields.style.display = "block";
                showFields.style.height = pos + 'px';

                // Función para hacer la animación de los campos para la nueva tarea. Se ejecuta con la animación con un setInterval y se hace
                // crecer el contenedor en 2px hasta una altura de 80px desktop y de 120px en dispositivos móviles
                function increase() {
                    if (pos == maxH) {
                        clearInterval(valueIncrease);
                        btnNewTask.innerHTML = "X";
                        btnNewTask.setAttribute("data-value", "1");
                        btnNewTask.style.backgroundColor = "#000000";
                    } else {
                        pos+= 2;
                        showFields.style.height = pos + 'px';
                    }
                }
            },
            // Se ocultan los campos para la nueva tarea
            hideFields() {
                let showFields = document.getElementsByClassName('fields-newTask')[0];
                let btnNewTask = document.getElementById('new_task');

                let pos = 80;
                let minH = 0 
                if (window.innerWidth <= 580) {
                    pos = 120;
                }
                let valueDecrease = setInterval(decrease, 5);
                showFields.style.height = pos + 'px';

                // Función para hacer la animación de ocultación de los campos para la nueva tarea. Se ejecuta con la animación con un setInterval y se hace
                // decrecer el contenedor en 2px hasta que desaparece
                function decrease() {
                    if (pos == minH) {
                        clearInterval(valueDecrease);
                        btnNewTask.innerHTML = "Nueva Tarea";
                        btnNewTask.setAttribute("data-value", "0");
                        btnNewTask.style.backgroundColor = "#1EAFD2";
                        showFields.style.display = "none";
                    } else {
                        pos-= 2;
                        showFields.style.height = pos + 'px';
                    }
                }
            }
        }
    }
</script>
<style lang="sass" scoped>
    @import "../assets/common.sass"
    @import "../assets/function.sass"

    .wrap-taskList
        padding: 20px 0 0

        .title-taskList
            @include sizesFloat(null, null, none, center)

        .container-newTask
            @include sizesFloat(null, null, none, right)

            .fields-newTask
                margin: 10px 0
                background-color: rgba(43, 130, 16, .55)
                text-align: center
                overflow: hidden
                display: none

                .input-newTask
                    @include sizesFloat(300px, 35px, none)
                    padding: 0 0 0 10px
                    border: 1px solid $borderInput
                    @include borderRadius(3px)
                    margin: 10px
                    color: $colorInputText
                    outline: 0
                    &:focus
                        border-top: 2px solid $borderTopInput

                .input-userId-newTask
                    @include sizesFloat(50px)

        .btn
            padding: 8px 12px
            @include borderRadius(3px)
            border: none
            margin: 0 10px 0 0
            color: $colorWhite
            font-size: 12px
            outline: 0
            cursor: pointer
            font-weight: 500

        .add-newTask, .btn-saveTask
            margin: 0 25px 0 0
            font-size: 14px
            background-color: $btnBlue
            &:hover
                background-color: $btnBlueHover

    .msgError
        color: red;

    /**** MEDIA QUERIES ****/

    @media only screen and (max-width : 580px)
        .btn
            font-size: 16px
        
        .wrap-taskList
            .container-newTask
                .fields-newTask
                    .input-newTask
                        width: 60%

                    .input-userId-newTask
                        width: 12%

        .add-newTask
            margin: 20px 20px 0 0



    @media only screen and (max-width : 580px)
        .input-newTask
            width: 55%

        .input-userId-newTask
            width: 15%

        .btn-saveTask
            padding: 8px 10px
            font-size: 13px
</style>
