<template>
    <div class="wrap-listaTareas">
        <!-- Campo para filtrar las tareas-->
        <div class="filter-task">
            <input type="text" class="input-filterTareas" placeholder="Filtrar por título" v-model="filterTask" />
        </div>
        <!-- Bloque para mostrar de en una en una la listas -->
        <div class="item-tarea" v-for="(tarea, indice) in listTareas">
            <!-- Para poder ver la información de la tarea de forma más amplia pasandole como parámetro el id de la tarea -->
            <router-link tag="div" :to="{name:'DataTarea', params: {id: tarea.id}}" class="value-item-tarea" :class="{terminada: tarea.completed}">
                {{ tarea.title }}
            </router-link>
            <div class="btn-item-tarea">
                <!-- Se muestra un botón u otro dependiendo del valor de la propiedad completed -->
                <button class="btn btn-finishTask" v-if="!tarea.completed" @click="terminadaTarea(indice)">Terminar</button>
                <button class="btn btn-finishTask" v-else @click="terminadaTarea(indice)">Activar</button>
                <button class="btn btn-removeTask" @click="borrarTarea(indice)">Borrar</button>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['tareas'],
        data() {
            return {
                filterTask: '',
            }
        },
        computed: {
            // Función para poder filtrar por el título de la tarea
            listTareas() {
                return this.tareas.filter(tarea => {
                    return tarea.title.indexOf(this.filterTask.toLowerCase()) > -1
                });
            }
        },
        methods: {
            // Borra la tarea pasando el id
            borrarTarea(indice) {
                this.tareas.splice(indice, 1);

            },
            // Modifica la tarea como terminada o no dependiendo del valor de la propiedad completed
            terminadaTarea(indice) {
                this.tareas[indice].completed = !this.tareas[indice].completed;
            }
        }
    }
</script>
<style lang="sass" scoped>
    @import "../assets/function.sass"
    @import "../assets/common.sass"

    .input-filterTareas
        @include sizesFloat(50%, 35px)
        padding: 0 0 0 10px
        @include borderRadius(3px)
        border: 1px solid $borderInput
        margin: 0 0 0 15px
        outline: 0
        font-size: 13px
        &:focus
            border-top: 2px solid $borderTopInput

    .item-tarea
        padding: 15px
        margin: 10px 0
        overflow: hidden
        &:nth-child(odd)
            background-color: $colorRow

        .value-item-tarea
            margin: 3px 0 0
            float: left
            cursor: pointer

        .btn-item-tarea
            float: right

            .btn
                padding: 8px 12px
                @include borderRadius(3px)
                border: none
                margin: 0 10px 0 0
                color: $colorWhite
                font-size: 12px
                outline: 0
                font-weight: 500
    
                &.btn-finishTask
                    background-color: $btnGreen
                    z-index: 10
                    &:hover
                        background-color: $btnGreenHover

                &.btn-removeTask
                    background-color: $btnRed
                    z-index: 10
                    &:hover
                        background-color: $btnRedHover
    
        .terminada
            text-decoration: line-through;

    /**** MEDIA QUERIES ****/

    @media only screen and (max-width : 580px)

        .input-filterTareas
            width: 89%
            margin: 20px 0 0 15px
 
        .item-tarea
            .value-item-tarea
                display: block
                float: none
                font-size: 18px

            .btn-item-tarea
                display: block
                float: none
                margin: 10px 0 0
                .btn
                    font-size: 14px

</style>


