@mixin borderRadius ($radius)
	-webkit-border-radius: $radius
     -moz-border-radius: $radius
      -ms-border-radius: $radius
          border-radius: $radius

@mixin sizesFloat($width, $height: null, $float: none, $align: left)
	width: $width
	height: $height
	float: $float
	text-align: $align

@mixin positionType($position, $top: null, $right: null, $bottom: null, $left: null)
	position: $position
	top: $top
	right: $right
	bottom: $bottom
	left: $left

@mixin backgroundType($backgroundImage, $color: null, $repeat: no-repeat, $position: 0 0)
	background
		image: url($backgroundImage)
		color: $color
		repeat: $repeat
		position: $position

@mixin boxShadow ($horizontal, $vertical, $blur, $size, $color, $inset: false) 
	@if inset 
		-webkit-box-shadow: inset $horizontal $vertical $blur $size $color
        -moz-box-shadow: inset $horizontal $vertical $blur $size $color
        box-shadow: inset $horizontal $vertical $blur $size $color
	@else
		-webkit-box-shadow: $horizontal $vertical $blur $size $color
        -moz-box-shadow: $horizontal $vertical $blur $size $color
        box-shadow: $horizontal $vertical $blur $size $color

@mixin transition ($transition-property, $transition-time, $method: ease)
	-webkit-transition: $transition-property $transition-time $method
	-moz-transition: $transition-property $transition-time $method
	-ms-transition: $transition-property $transition-time $method
	-o-transition: $transition-property $transition-time $method
	transition: $transition-property $transition-time $method

// @function str-replace($string, $search, $replace: '')
// 	$index: str-index($string, $search)
  	
//     @if $index
//     	@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace)
  
//   	@return $string

