
body
    background-color: rgba(0, 0, 0, .8)

#app 
    max-width: 960px
    padding: 0 0 30px
    margin: 10px auto 0
    font-family: 'Avenir', Helvetica, Arial, sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    color: #2c3e50
    border-radius: 3px
    background-color: #FFFFFF